.my-navbar{
    color: #1558d4;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6rem;
    text-decoration:solid;
    margin: 10px  10px 40px  10px;
  
  }